html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
}

counter {
  padding: 50px;
  font-size: 120px;
}

images {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

images img {
  width: 1920px;
  height: 1080px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

images img.show {
  display: block;
}
